/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#figma-canvas-container {
	max-height: 100vh !important;
	overflow: auto;
}

#figma-canvas-container canvas {
	width: 400px !important;
}

#figma-canvas-container::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

#figma-canvas-container::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
}
#figma-canvas-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}

#figma-canvas-container::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
}

#figma-canvas-container::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, 0.9);
}
